<div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
         
          <h4 class="card-title" *ngIf= "tipo === 'recibidas'; else enviadas">Norificaciones recibidas  </h4>

          <ng-template #enviadas>
           <h4>Notificaciones enviadas</h4>

          </ng-template>
  
          <h6 class="card-subtitle" *ngIf="paginacion" >
            Total de registros: {{ paginacion.registros }}
          </h6>
          <!-- <div class="row justify-content-end">
              <div class="col-md-4">
               
                <select (change)= "filtrarEmpresa($event.target.value)" class="form-control" name="empresa">
                    <option value="">Selecciona empresa</option>
                    <option *ngFor="let empresa of empresas" value= "{{empresa.id}}">{{empresa.nombre}}</option>
                  </select>
              </div>
          </div> -->

          <div class="table-responsive">
            <table id="demo-foo-addrow" class="table m-t-10 full-color-table full-info-table hover-table" data-page-size="10" >
              <thead>
                <tr>
                  <th >Id</th>
                  <th *ngIf= "tipo === 'recibidas'; else esManager2">Emisor</th>
                  <ng-template #esManager2>
                    <th>Empleado</th>
                  </ng-template>
                  <th >Fecha</th>
                  <th >Texto</th>
                  <th >Respuesta</th>
                  <th class="text-center" >Leida</th>
                  <th></th>
                  <th *ngIf= "esManager"></th>
                </tr>
              </thead>
              <tbody>
                  
                <tr *ngFor="let notificacion of notificaciones">
                  <td>{{ notificacion.id }}  </td>
                  <td  *ngIf= "tipo === 'recibidas'; else esManager1">{{ notificacion.loginEmisor}}  </td>

                  <ng-template #esManager1>
                    <td>{{ notificacion.empleado.nombre}} {{ notificacion.empleado.apellidos}}  </td>

                  </ng-template>
                  <td>{{ notificacion.fecha | date:"dd/MM/yyyy"}}</td>
                  <td>{{ notificacion.texto_notificacion }}</td>
                  <td>{{ notificacion.texto_respuesta }} </td>
                  <td class="text-center"  *ngIf= "notificacion.leida == '1'; else noLeida"> <i class="far fa-check-square"></i></td>
                    
                  
                  <ng-template #noLeida>
                    <td class="text-center" ><i class="far fa-square"></i></td>
                  </ng-template>
                 
          
                  
              
                  <td class="text-center" *ngIf= "notificacion.leida == '0'; else botonRespuesta" >
                    <button (click) = "responder(notificacion.id)"   class="btn btn-info btn-sm mr-2" [disabled]= "notificacion.leida === '1'" ><i class="far fa-paper-plane" ></i></button>
                  </td>
                  <ng-template #botonRespuesta>
                    <td class="text-center" >
                      
                    </td> 
                  </ng-template>
                  <td class="text-center" *ngIf = "esManager === 'MANAGER'" >
                    <button (click) = "borrar(notificacion.id)"   class="btn btn-danger btn-sm mr-2" ><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row justify-content-end no-gutters">

            </div>
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-end">
                  <li class="page-item">
                    <a
                      (click)="cambiarPagina(-1)"
                      class="page-link"
                      >Anterior</a
                    >
                  </li>
                  <li>
                    <a
                      (click)="cambiarPagina(1)"
                      class="page-link"
                      >Siguiente</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
