<div class="row justify-content-center">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Listado de empresas</h4>
        <h6 class="card-subtitle"></h6>
        <div class="table-responsive">
          <table
            id="demo-foo-addrow"
            class="table m-t-30 full-color-table full-info-table hover-table"
            data-page-size="10"
          >
            <thead>
              <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">CIF</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let empresa of empresas">
                <td class="text-center">{{empresa.id}}</td>
                <td class="text-center">{{empresa.nombre}}</td>
                <td class="text-center">{{empresa.cif}}</td>
                <td class="text-center">
                  <button class="btn btn-info btn-sm mr-2">
                    <i class="far fa-edit"></i>
                  </button>
                  <button class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-end no-gutters">
            <button class="mb-2 btn btn-primary btn-sm">Nueva Empresa</button>
          </div>
          <div>
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item disabled">
                  <a
                    class="page-link"
                    href="#"
                    tabindex="-1"
                    aria-disabled="true"
                    >&laquo;</a
                  >
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
